 body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color:white ;
}
.container {
  background-color: rgba(255, 255, 255, 0.95);  
  padding: 35px 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2563eb;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.result b {
  font-weight: bold;
  color: #000;
}
